<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Google.GData.YouTube" publicKeyToken="AF04A32718AE8833" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.25713" newVersion="1.7.0.25713"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.GData.Extensions" publicKeyToken="0B4C5DF2EBF20876" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.25712" newVersion="1.7.0.25712"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.GData.Client" publicKeyToken="04A59CA9B0273830" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.25712" newVersion="1.7.0.25712"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
